
.App {
  text-align: center;
  font-size: 14px;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

.main-form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

.main-form-label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
}

.scoreboard-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 700px;
  border: 1px solid grey
}

th, tr {
  padding: 10px 20px;
  text-align: center;
}

th {
  font-weight: normal;
}


